project:
  type: book
  output-dir: docs

book:
  title: "Categories for the Curious"
  author: "John Cavanaugh"
  date: "1/14/2026"
  chapters:
    - index.qmd
    - intro.qmd
    - posets.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



